---
import Layout from "../layouts/Layout.astro";
import GithubStats from "astro-github-stats";
---
<Layout title="Proyectos">
    <h2 class=" text-4xl text-slate-400 font-bold text-center ">
        Mis Proyectos
    </h2>
</Layout>