---

---

<header class="py-8 px-4 mx-auto max-m-xl lg:py-16 lg:px-6">
    <h1 class="text-5xl text-white font-bold text-center">Carlos Mares Dev</h1>
    <nav
        class="flex flex-col items-center justify-between bet w-full text-center md:flex-row"
    >
        <a class="text-white" href="/">Inicio</a>
        <a class="text-white" href="/proyects">Proyectos</a>
        <a class="text-white" href="/about">Acerca de</a>
    </nav>
</header>
